parameters:
    level: 6
    paths:
        - src
        #- tests
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
    bootstrapFiles:
        #- vendor/bin/.phpunit/phpunit/vendor/autoload.php
        # We're aliasing classes for phpunit in this file, it needs to be added here see phpstan/#2194
        #- src/Bridge/Symfony/Bundle/Test/Constraint/ArraySubset.php
